@CHARSET "UTF-8";

@import	url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.material-symbols-outlined {
	font-size: inherit;
	vertical-align: -.125em;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
 }

.container-max-lg {
	max-width: 992px!important;
}
.container-max-xl {
	max-width: 1200px!important;
}
.container-max-xxl {
	max-width: 1320px!important;
}

body {
	overflow-y: scroll;
}

#loadWindow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #aaa;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	opacity: 1;
	transition: opacity 0.5s ease;
}

#loadWindow.hidden {
	opacity: 0;
	pointer-events: none;
}

.spinner-grow {
	transition: opacity 0.5s ease;
}

.spinner-grow.hidden {
	opacity: 0;
}

.navbar-toggler {
	border: none;
	outline: 0;
}
.navbar-toggler:focus:not(:focus-visible) {
	box-shadow: none;
}

.modal_bg {
	box-sizing: content-box;
}

.modal_bg_padding {
	overflow: hidden;
	padding-right: 17px;
}

.editForm {
	display: none;
}

.dataTable {
	display: table;
}

.card-img-area {
	width: 100%;
	aspect-ratio: 1 / 1.41421356;
}

.detail-button-container {
	position: absolute;
	bottom: 3px;
	right: 3px;
	margin: 3px 3px 3px 0;
}

.detail-button {
	aspect-ratio: 1/1;
	padding: 5px 10px;
	z-index: 1;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.badge-area {
	background: linear-gradient(to top, rgba(var(--bs-body-bg-rgb), 0) 0%,
		rgba(var(--bs-body-bg-rgb), 0.5) 100%);
	width: 100%;
}

.sort-and-filter-area {
	background: #E9F9FC;
}

@media (min-width: 992px) {
	.sort-and-filter-area {
		max-width: 281px;
		/* 267 + 8 + 8*/
	}
}

fieldset.checkbox-field {
	padding: 0 0.25rem;
}
fieldset.checkbox-field legend {
	font-size: 1rem;
	margin-bottom: 0.125rem;
}

.title-container {
	background: linear-gradient(to bottom, rgba(var(--bs-body-bg-rgb), 0),
		rgba(var(--bs-body-bg-rgb), 0.595) 50%, rgba(var(--bs-body-bg-rgb), 0.7225) 65%,
		rgba(var(--bs-body-bg-rgb), 0.78625) 75.5%, rgba(var(--bs-body-bg-rgb), 0.81855)
		82.85%, rgba(var(--bs-body-bg-rgb), 0.83385) 88%, rgba(var(--bs-body-bg-rgb), 1));
	width: 100%;
	max-height: calc(100% - 1rem);
	text-shadow: 2px 0 5px var(--bs-body-bg), -2px 0 5px var(--bs-body-bg), 0 2px 5px var(--bs-body-bg), 0
		-2px 5px var(--bs-body-bg);
	padding: 32px 6px 6px 6px;
	border-radius: 0 0 var(--bs-card-border-radius) var(--bs-card-border-radius);
}

.title-area {
	margin-right: 38px;
}

.title-container h3 {
	font-size: 14px;
	font-weight: 400;
}

.text-truncate-2line {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.title-area-author {
	font-size: 12px;
	color: var(--bs-secondary-color);
}

.th-nowrap th {
	white-space: nowrap;
}

.word-wrap {
	word-break: auto-phrase;
}

.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--bs-body-bg-rgb), 0.4);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.pe-015 {
	padding-right: .15rem !important;
}

.badge-dark-bg {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.btn.text-white {
	color: #fff;
}
.fs-7 {
	font-size: 14px;
}
.supplementary:before {
	content: '(';
}
.supplementary:after {
	content: ')';
}

/*
.modal-dialog-scrollable {
		height: auto;
} */
/*
input.sort:checked+label::after {
	margin-left: .25rem;
	content: "\F3C6";
	font-family: bootstrap-icons;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1;
	vertical-align: -.275em;
}

input.sort.asc:checked+label::after {
	margin-left: .25rem;
	content: "\F574";
	font-family: bootstrap-icons;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1;
	vertical-align: -.275em;
}

input.sort.desc:checked+label::after {
	margin-left: .25rem;
	content: "\F575";
	font-family: bootstrap-icons;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1;
	vertical-align: -.275em;
}
*/
/**
 * link icon
 */
.icon_link_pixiv {
	height: 38px;
	width: 38px;
	border-radius: 25%;
	display: inline-block;
	position: relative;
	transition: box-shadow 0.15s ease-in-out;
}

.icon_link_pixiv::before {
	background-image: url('images/icons/pixiv_r.png');
	content: '';
	background-size: contain;
	background-repeat: no-repeat;
	height: 38px;
	width: 38px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	transition: box-shadow 0.15s ease-in-out;
}

.icon_link_x {
	background: #000;
	height: 38px;
	width: 38px;
	border-radius: 0.4rem;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	transition: box-shadow 0.15s ease-in-out;
}

.icon_link_x::before {
	content: '';
	display: block;
	width: 22px;
	height: 22px;
	background: url('images/icons/x.png') no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn.hover-white,
.btn.hover-white:hover {
	color: #fff;
}

.icon_link_pixiv:hover,
.icon_link_pixiv:focus-visible {
	box-shadow: 0 0 0 0.25rem rgba(38, 117, 174, 0.75);
	outline: none;
}
.icon_link_x:hover,
.icon_link_x:focus-visible {
	box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.75);
	outline: none;
}

/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
	/*fixedで全面に固定*/
	position: fixed;
	z-index: 2000;
	width: 100%;
	height: 100%;
	background: #333;
	text-align: center;
	color: #fff;
}

/* Loadingバー中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2000;
	width: 100%;
	transform: translate(-50%, -50%);
	color: #fff;
}

/*========= サイドボタン ===============*/
.side-button {
	display: block;
	position: fixed;
	border: 1px solid #005da0;
	color: #005da0;
	right: 8px;
	z-index: 1024;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: var(--bs-body-bg);
	font-size: 28px;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	padding: 0;
}

.page-top {
	bottom: 12px;
	opacity: 1;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.side-button:hover {
	background: #005da0;
	color: #fff;
}

@media ( min-width : 768px) {
	.side-button-modal {
		right: 25px;
	}
}

/*
 * navbar hamburger button
 */
.navbar-toggler-animation {
	color: rgba(0, 0, 0, .5);
	border: none;
	padding: 0px;
	position: relative;
	width: 30px;
	height: 27px;
	box-sizing: border-box;
	outline: 0;
}

.navbar-animation-icon {
	background-image: none;
	background-color: #4a4a4a;
	left: 0;
	width: 100%;
	height: 3px;
	border-radius: 3px;
	display: block;
	position: absolute;
	transition-property: all;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

.navbar-nav .dropdown-menu {
		position: absolute;
}

/* tom-select */
.dropdown-input-wrap {
	margin-bottom: 4px;
}
.dropdown-input-wrap > .dropdown-input {
	border-radius: var(--bs-border-radius);
}
.ts-control:not(.rtl) {
	padding-right: 2.25rem !important;
}

.combo-subtext {
	font-size: 12px;
	color: var(--bs-secondary-color);
}
.ts-dropdown-content {
	max-height: 240px;
}

/* theme */
.bi {
	fill: currentColor;
}
.bd-mode-toggle {
	z-index: 1024;
}


[data-bs-theme=dark] .ts-dropdown .active {
	background-color: #99c8ff;
	color: #1f2228;
}
[data-bs-theme=dark] .ts-dropdown .active .combo-subtext {
	color: #3b3b3b;
}


.search-group {
	display: flex;
	align-items: center;
	background: var(--bs-secondary-bg);
	border: var(--bs-border-width) solid var(--bs-secondary-bg);
	border-radius: var(--bs-border-radius-pill);
	padding-left: 1.125rem;
	padding-right: 1.125rem;
	height: 2.25rem;
	gap: 0.5rem
}

.search-group:has(.form-control:focus) {
	border-color: #80aed0;
	outline: 0;
	border-color: var(--bs-primary);
	box-shadow: 0 0 0 0.25rem rgba(0, 93, 160, 0.25);
	z-index: 2;
}
.search-group .form-control {
	border: none;
	box-shadow: none;
	outline: 0;
	background-color: inherit;
	padding-left: 0;
	padding-right: 0;
}

.numberOfData {
	align-self: flex-end;
	color: var(--bs-secondary-color);
	font-size: 0.875rem;
}

.offcanvas-body {
	transition: padding 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.container-fluid {
	transition: padding 0.2s ease-in-out;
}

.sidebar .offcanvas-header h4 {
	font-size: 1.25rem;
	font-weight: 300;
}

.main-header {
	background-color: var(--bs-tertiary-bg);
	padding: 0.5rem 0.75rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	transition: padding 0.2s ease-in-out;
}

.fanBook-content {
	margin-top: 98px;
	padding: 0.5rem 0;
	transition: margin 0.2s ease-in-out;
}
@media (min-width: 768px) {
	.fanBook-content {
		margin-top: 54px;
	}
}

@media (min-width: 992px) {
	.container-fluid:has(.sidebar:not(.hidden-filter)) {
		padding-left: 0;
	}

	.sidebar {
		background-color: var(--bs-tertiary-bg);
		position: fixed;
		top: 0;
		z-index: 1020;
		margin-bottom: 2rem;
		border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
		transition: opacity 0.2s ease-in-out, padding 0.2s ease-in-out, transform 0.2s ease-in-out;
		opacity: 1;
	}

	.sidebar .offcanvas-body {
		height: calc(100vh - 3.5rem);
		overflow-y: auto;
		padding: 0.5rem 0.5rem 3.5rem 0.75rem;
		width: 348px;
	}

	.sidebar .offcanvas-body .offcanvas-body-content {
		width: 305px;
	}

	.sidebar.hidden-filter {
		transform: translateX(-170px);
		visibility: hidden;
		opacity: 0;
		transition-property: opacity visibility;
		transition-duration: 0.2s;
	}

	.fanBook-content {
		position: relative;
		display: block;
	}

	.main-header:has( + .container-fluid .sidebar:not(.hidden-filter)) {
		padding-left: 372px;
		padding-right: 12px;
	}

	.main-header:has( + .container-fluid .sidebar.hidden-filter) {
		padding-left: 192px;
		padding-right: 192px;
	}

	.sidebar:not(.hidden-filter) ~ .fanBook-content {
		margin-left: 360px;
		margin-right: 0px;
	}

	.sidebar.hidden-filter ~ .fanBook-content {
		margin-left: 180px;
		margin-right: 180px;
	}
}
